.navigation-bar {
overflow: auto;
    margin: 40 90px;
    padding; 10%
vertical-align: top;
    display: inline-flex;
font-size: 15px;
  justify-content:space-between;
  justify-content: space-around;
  text-align: center;
  position: relative;
  height: auto;
    width: 80%;
    text-align:center;
clear: both;
}
/* !Nav bar design */
div {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);

  }
  a:hover {
    background-color: #e6ccff;
    padding: 15px
    position:static;
  }
  a {
    color: black;
    font-family: 'Oxygen', sans-serif;
}
/*!Logo position and size*/
header {
padding: 10px
background-color:  #dca7a7;
  align-self: stretch;
  width: 20%;
  margin: 0 1540px
  position: static;
  float: right;
  overflow: auto;
}

img {
  width: 5%;
  height: auto;
  display: inline-block;
  top: auto;
  padding: 0px;

}

/*!The quote*/
}
section {
  text-align: right;
  width: 20%;
  margin: 0 1000px;
  position: static;
  font-size: 20px;
}
/*! Paragraph font size*/

p {
  font-size: 20px;
}

/*! Carousel*/

.carousel-inner > .item > img {
  position: relative;
  display:   inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  height: 40%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 400px;
  perspective: 400px;
  margin: auto;
}
carousel-item {
  width: 10%;
  height: 10%;
}

carousel-item.active,
carousel-item-next,
carousel-item-prev {
  display: block;
}
carousel-item-next,
carousel-item-prev {
  position: absolute;
  top: 0;
}
carousel-item-next.carousel-item-left,
carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  carousel-item-next.carousel-item-left,
  carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-inner  {
    -webkit-transition: 5s linear left;
    -moz-transition: 5s linear left;
    -o-transition: 5s linear left;
    transition: 5s linear left;
}
.carousel-caption>p{
  color: black;
  font-family: 'Oxygen', sans-serif;
}


/*!Body design*/
body {
  background-color: #e6ccff;
}
